.sercher{
    margin-left: 500px;
    width: 400px;
    border-radius: 120px;
    
}

.shoplogo{

    margin-left: 50px;
    width: 80px;
    height: 80px;

}

.btncolour{
    border-radius: 160px;
    color: aliceblue;
    background-color: rgb(37, 37, 238);
}




