<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
     <div class="sidebar">
       

        <nav>
            <ul class="nav">
               <li class="catagory">  Catagory </li>
              <br>  <br> <br>
               <li> <a routerLink="/electronics" class="elect"> Electronics </a></li>
               
               <li> <a routerLink="/product">Laptop </a></li>

               <li> <a routerLink="/product">Mobile </a></li>
                <li><a routerLink="/product" class="cloths">Clothing</a></li>
                <li><a routerLink="/product">Home & Applications</a></li>  

               
               <br> <li>
 
               <div class="elect"> Price Range</div>

                <input class="inp" type="text" value="0" placeholder="0">
                <input class="inp" type="text" value="10000" placeholder="10000">

                   </li>

            </ul>
        </nav>
        
     </div>



</body>
</html>

